//----------------------------------------
// Color system
//----------------------------------------
$blue:                            #03a9b3;
$purple:                          #37003c;
$pink:                            #ff015b;
$red:                             #fe0002;
$orange:                          #ff5600;
$yellow:                          #dff200;
$green:                           #00e679;

/* Start: Fira Sans */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    src: url($FiraSans-Thin);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 100;
    src: url($FiraSans-ThinItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    src: url($FiraSans-UltraLight);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 200;
    src: url($FiraSans-UltraLightItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: url($FiraSans-ExtraLight);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: url($FiraSans-ExtraLightItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url($FiraSans-Light);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: url($FiraSans-LightItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url($FiraSans-Regular);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    src: url($FiraSans-Italic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url($FiraSans-Medium);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 600;
    src: url($FiraSans-MediumItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: url($FiraSans-SemiBold);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: url($FiraSans-SemiBoldItalic);
}
/* End: Fira Sans */

body {
    font-family: "Fira Sans",sans-serif;
    font-size: 1.0525rem;
    font-weight: 300;
    line-height: 1.9;
    color: #757575;
    text-align: left;
}

// fix text colors
.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification),
.list-cell,
.table-heading,
.category-list td,
.category-list th,
.latest-topic-list .table-heading,
.top-topic-list .table-heading {
    color: #757575;
}

// top header
header.d-header {
    padding-top: 0;
    height: 57px;
}
header.d-header .contents {
    margin: 5px 0 0 0;
}

// logo
header.d-header .title > a {
    color: $purple !important;
    font-size: 24px;
    font-weight: 200;
    width: 253px;
}
header.d-header .title > a > span {
    display: inline-block;
}
header.d-header .title > a > img {
    width: 132px;
    height: 28px;
    margin-right: 4px;
    display: inline-block;
}
header.d-header .title > a > img.logo-small {
    width: auto;
}

// header title
header.d-header .title-wrapper {
    margin-left: 15px;
}
header.d-header .title-wrapper h1 {
    font-size: 1.3em;
}
header.d-header .title-wrapper .badge-wrapper {
    font-weight: 400;
    line-height: 1.2;
}

// buttons
.list-controls .combo-box .combo-box-header,
.btn {
    letter-spacing: 1px;
    border-radius: 2px;
    background-color: #fcfdfe;
    border: 1px solid #ebebeb;
    color: #8b95a5;
}
.select-kit.combo-box .select-kit-header.is-focused {
    border: 1px solid #ebebeb;
    box-shadow: 0 0 6px 0 #ebebeb;
}

// exta
img.avatar {
    border-radius: 0;
}
