//----------------------------------------
// Color system
//----------------------------------------
$blue:                            #03a9b3;
$purple:                          #37003c;
$pink:                            #ff015b;
$red:                             #fe0002;
$orange:                          #ff5600;
$yellow:                          #dff200;
$green:                           #00e679;
$white:                           #ffffff;
$highlight:                       #f1e5f2;

/* Start: Fira Sans */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    src: url($FiraSans-Thin);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 100;
    src: url($FiraSans-ThinItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    src: url($FiraSans-UltraLight);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 200;
    src: url($FiraSans-UltraLightItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: url($FiraSans-Light);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: url($FiraSans-LightItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url($FiraSans-Regular);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: url($FiraSans-Italic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url($FiraSans-Medium);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    src: url($FiraSans-MediumItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url($FiraSans-SemiBold);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 600;
    src: url($FiraSans-SemiBoldItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: url($FiraSans-SemiBold);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: url($FiraSans-SemiBoldItalic);
}
/* End: Fira Sans */

body {
    font-family: "Fira Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

// logo
header.d-header .title > a > span {
    line-height: 1;
    font-size: 24px;
    font-weight: 200;
    color: $purple !important;
}
@media (min-width: 576px) {
    header.d-header .title > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 45px;
    }
    header.d-header #site-logo {
        width: 132px;
        height: 28px;
        margin-right: 4px;
    }
}
@media (max-width: 575px) {
    header.d-header .title > a > span {
        font-size: 16px;
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 2px;
    }
    header.d-header #site-logo {
        width: 118px;
        height: 25px;
    }
}
header.d-header #site-logo.logo-small {
    width: auto;
    height: 35px;
}

// header title
header.d-header .title-wrapper {
    margin-left: 5px;
}

// purple nav buttons
#navigation-bar.nav-pills > li > a {
    color: $purple;
}
#navigation-bar.nav-pills > li > a:hover {
    background-color: rgba($purple, .15);
    border-color: $purple;
}
#navigation-bar.nav-pills > li.active > a,
#navigation-bar.nav-pills > li > a.active {
    background-color: $purple;
    border-color: $purple;
    color: $white;
    cursor: auto;
}

// general nav
.nav-pills > li > a.active {
    background: $blue;
    color: $white;
}
.nav-pills > li > a:hover {
    background: darken($blue, 7.5%);
    color: $white;
}

// alerts
.alert.alert-info {
    background-color: lighten($pink, 45%);
}

// buttons
.btn-primary {
    background-color: $pink;
}
.btn-primary:hover {
    background-color: darken($pink, 7.5%) !important;
}

// links
a,
a:visited,
.btn-link {
    color: $pink;
}
a:hover,
.btn-link:hover {
    color: darken($pink, 10%);
}

// header menu
.menu-links a {
    color: $purple;
}

// select menus
.select-kit .select-kit-row.is-highlighted {
    background: $highlight;
}

// topic progress bar
#topic-progress {
    border-color: $highlight;
    color: $purple;
}
#topic-progress .bg {
    border-color: $highlight;
    background-color: $highlight;
}

// topic timeline
.timeline-container .topic-timeline .timeline-scrollarea {
    border-color: $purple !important;
}
.timeline-container .topic-timeline .timeline-handle {
    background: $purple;
}

// topic background effect
@keyframes background-fade-highlight {
    0% {
        background-color: #f7f7f7;
    }
    100% {
        background-color: transparent;
    }
}

// fix team and system avatar
[href="/u/system"],
[href="/u/team"] {
    .avatar {
        border-radius: 0;
    }
}

// tags
.discourse-tag.box {
    position: relative;
    text-transform: uppercase;
    padding: 2px 6px 1px 5px;
    font-size: .75rem !important;
    background: #f7f7f7;
    &::before {
        content: ' ';
        display: inline-block;
        position: absolute;
        top: -9px;
        right: 0;
        width: 0;
        height: 0;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-right: 9px solid $purple; 
    }
    &[data-tag-name='bug']::before,
    &[data-tag-name='erro']::before {
        border-right-color: $red;
    }
    &[data-tag-name='sugestão']::before,
    &[data-tag-name='feature']::before {
        border-right-color: $blue;
    }
    &[data-tag-name='dúvida']::before {
        border-right-color: $yellow;
    }
    &[data-tag-name='tutorial']::before {
        border-right-color: $purple;
    }
    &[data-tag-name='resolvido']::before {
        border-right-color: $green;
    }
}

// category badges
.badge-wrapper {
    .badge-category-bg {
        height: 8px;
        width: 6px;
        border-radius: 50%;
        margin-right: 1px;
    }
    .category-name {
        text-transform: lowercase;
    }
}
.select-kit,
.category-status,
.suggested-topics-message {
    .category-name {
        text-transform: none;
    }
}
