//----------------------------------------
// Color system
//----------------------------------------
$blue:                            #03a9b3;
$purple:                          #37003c;
$purple-dark:                     darken($purple, 5.5%);
$purple-darkest:                  darken($purple, 8.1%);
$pink:                            #ff015b;
$red:                             #fe0002;
$orange:                          #ff5600;
$yellow:                          #dff200;
$green:                           #00e679;
$white:                           #ffffff;

/* Start: Fira Sans */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    src: url($FiraSans-Thin);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 100;
    src: url($FiraSans-ThinItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    src: url($FiraSans-UltraLight);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 200;
    src: url($FiraSans-UltraLightItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: url($FiraSans-Light);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: url($FiraSans-LightItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url($FiraSans-Regular);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: url($FiraSans-Italic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url($FiraSans-Medium);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    src: url($FiraSans-MediumItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url($FiraSans-SemiBold);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 600;
    src: url($FiraSans-SemiBoldItalic);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: url($FiraSans-SemiBold);
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: url($FiraSans-SemiBoldItalic);
}
/* End: Fira Sans */

body {
    font-family: "Fira Sans",sans-serif;
    font-size: 1.0525rem;
    font-weight: 300;
    line-height: 1.9;
    color: #757575;
    text-align: left;
}

// fix text colors
.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification),
.list-cell,
.table-heading,
.category-list td,
.category-list th,
.latest-topic-list .table-heading,
.top-topic-list .table-heading {
    color: #757575;
}

// top header
@media (min-width: 576px) {
    header.d-header {
        padding-top: 0;
        height: 57px;
    }
    header.d-header .contents {
        margin: 5px 0 0 0;
    }
}

// logo
header.d-header .title > a > span {
    line-height: 1;
    font-size: 24px;
    font-weight: 200;
    color: $purple !important;
}
@media (min-width: 576px) {
    header.d-header .title > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 45px;
    }
    header.d-header .title > a > img {
        width: 132px;
        height: 28px;
        margin-right: 4px;
    }
}
@media (max-width: 577px) {
    header.d-header .title > a > span {
        font-size: 16px;
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 2px;
    }
    header.d-header .title > a > img {
        width: 118px;
        height: 25px;
    }
}
header.d-header .title > a > img.logo-small {
    width: auto;
}

// header title
header.d-header .title-wrapper {
    margin-left: 15px;
}
header.d-header .title-wrapper h1 {
    font-size: 1.3em;
}
header.d-header .title-wrapper .badge-wrapper {
    font-weight: 400;
    line-height: 1.2;
}

// buttons
.list-controls .combo-box .combo-box-header,
.select-kit.dropdown-select-box .dropdown-select-box-header,
.btn,
#navigation-bar.nav-pills > li > a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px !important;
    padding: 5px 16px !important;
    line-height: inherit;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid transparent;
    outline: none !important;
    transition: 0.15s linear;
}
// button sizes
.btn-small,
.btn-sm {
    font-size: 12px !important;
    padding: 4px 12px !important;
    line-height: 20px;
}
// default button light
.list-controls .combo-box .combo-box-header,
.select-kit.dropdown-select-box .dropdown-select-box-header,
.btn-default,
.btn-light {
    background-color: #fcfdfe;
    border-color: #ebebeb;
    color: #8b95a5;
}
.select-kit.combo-box .select-kit-header.is-focused {
    border: 1px solid #ebebeb;
    box-shadow: 0 0 6px 0 #ebebeb;
}
// purple buttons
#navigation-bar.nav-pills > li > a {
    background-color: $purple;
    border-color: $purple;
    color: $white !important;
}
#navigation-bar.nav-pills > li.active > a,
#navigation-bar.nav-pills > li > a.active {
    background-color: $purple-dark;
    border-color: $purple-dark;
}
#navigation-bar.nav-pills > li > a:hover {
    background-color: $purple-darkest;
    border-color: $purple-darkest;
}

// exta
img.avatar {
    border-radius: 0;
}
